body
  .container
    header
      h1 Nata (#{incompleteCount})

      label.hide-completed
        input(type='checkbox' checked='#{hideCompleted}')
        | Hide completed tasks

      form.new-task
        input(type='text' name='text' placeholder='Add new task ...')

    ul
      each tasks
        +task