a
  color: colours.primary.dark

  &:hover
    color: colours.primary.base

.button
button:not(.without-default)
  border: none
  outline: none
  color: colours.primary.dark
  padding: 1px 5px
  border-radius: 25px
  width: 22px
  height: 22px
  background: colours.grey.medium
  line-height: 15px

  &:hover
    text-decoration: initial
    background: colours.grey.light
    color: colours.primary.base

  &.unticked
    display: inline-block
    content: ' '

  &.ticked
    background: colours.primary.base

    &:hover
      background: colours.primary.light

.tick
  width: 12px
  height: 5px
  border-bottom: 2px solid white
  border-left: 2px solid white
  transform: translateY(-2px) rotate(-45deg)

a.button
  padding: 4px 5px