h1 Nata (#{incompleteCount})

label.hide-completed
  input(type='checkbox' checked='#{hideCompleted}')
  | Hide completed tasks

if currentUser
  form.new-task
    input(type='text' name='text' placeholder='Add new task ...')

ul.tasks
  each tasks
    +task