h1 List name (#{incompleteCount})

label.hide-completed
  input(type='checkbox' checked='#{hideCompleted}')
  | Hide completed tasks

if currentUser
  form.new-task
    input(type='text' name='text' placeholder='Type to add ...')

table.tasks
  each tasks
    +task