.list
  h1 #{text} (#{incompleteCount})

  label.hide-completed
    input(type='checkbox' checked='#{hideCompleted}')
    | Hide completed tasks

  if isOwner
    button.toggle-private
      if private
        span.glyphicon.glyphicon-lock
      else
        span.glyphicon.glyphicon-share

  if currentUser
    form.new-task
      textarea.text-field(rows='1' name='text' placeholder='Type to add ...')

  table.tasks
    each tasks
      +task