colours = {
  primary: {
    dark: #00796B
    base: #009688
    light: #4DB6AC
    lighter: #B2DFDB
  }

  grey: {
    medium: #dddddd
    light: #e8e8e8
    lighter: #f8f8f8
  }

  text: white
  shadow: #555
}
