.page
  margin-top: 10px

.list
  .info
    color: #777

    .date
      font-style: italic
      font-size: 0.9em

    .owner
      font-weight: bold

  .list-text
    font-size: 1.2em
    font-weight: bold