.tasks
  width: 100%

.task
  .button
  button
    border: none
    background: white
    outline: none
    color: #777
    padding: 1px 6px

    &:hover
      text-decoration: initial
      background: #eee
      border-radius: 25px

  .prefix
    vertical-align: top
    min-width: 40px

  .content
    width: 100%

    .edit-task
      display: inline

  .suffix
    min-width: 55px
    vertical-align: top

    .delete
    .toggle-private
      float: right

  &.checked
    .text-field
      color: #999
      text-decoration: line-through
      font-style: italic

.new-task
  input[type=text]
    border: none
    outline: none

.text-field
  width: 100%
  border: none
  display: inline
  outline: none
  resize: none
  overflow: hidden
