.tasks
  list-style: none
  padding-left: 0

.task
  .edit-task
    display: inline

    input[type=text]
      border: none
      display: inline
      outline: none

  .delete
    float: right
    border: none
    background: white

.new-task
  input[type=text]
    border: none
    outline: none
