.tasks
  width: 100%

.task
  .prefix
    vertical-align: top
    min-width: 50px

    button
      float: left
      margin-right: 2px

  .content
    width: 100%

    .edit-task
      display: inline

  .suffix
    min-width: 20px
    vertical-align: top

  &.checked
    .text-field
      color: #999
      text-decoration: line-through
      font-style: italic

.new-task
  input[type=text]
    border: none
    outline: none

.text-field
  width: 100%
  border: none
  display: inline
  outline: none
  resize: none
  overflow: hidden
