#notifications
  position: fixed
  top: 0
  z-index: 1100

  .alert
    padding: 14px

+below(mobile)
  #notifications
    top: auto
    bottom: 0
    opacity: 0.95
    width: calc(100% - 30px)
    text-align: center
