#sidebar
  background-color: colours.grey.light
  padding: 0
  height: 100%
  box-shadow: 0px 0px 3px 0px colours.shadow
  z-index: 750

  a:hover
    background-color: colours.grey.medium

  section
    border-top: 1px solid colours.primary.base

  .heading
    padding: 10px 15px
    font-weight: bold
    font-size: 1.2em
    color: colours.primary.dark
    width: 100%

  .settings
    padding: 0 15px

    .heading
      padding: 10px 0

    button
      float: left
      margin-right: 5px

    label
      font-weight: normal